 body {
      background: radial-gradient(ellipse at top left, #3a0ca3, #21213cf2, #03045e);
      color: white;
      min-height: 100vh;
      margin: 0;
      padding: 0;
      font-family: sans-serif;
    }

    
    header {
        background-color: #3a0ca3;
    
    }

    .custom-card {
      background-color: #21213cf2;
      padding: 1.5rem;
      border-radius: 1rem;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
      transition: transform 0.3s ease;
    }

    .custom-card:hover {
      transform: scale(1.05);
    }

    .text-purple {
      color: #c084fc;
    }
   

    


